.contact_content-text {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  line-height: 27px;
}

.contact_text {
  border-radius: 10px;
  background-color: #c9d2da67;
  margin: 0px auto;
  width: 90%;
  padding: 0;
  max-width: 1000px;

  box-shadow: 0 4px 8px 0 rgba(197, 192, 192, 0.2),
    0 6px 20px 0 rgba(197, 192, 192, 0.2);
}

.contactform_map {
  padding: 1rem 1rem 1rem 1rem;
  flex-grow: 1;
}

.map {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.map_div {
  height: 450px;
}

input[type="text"],
textarea,
input[type="email"] {
  width: 100%;
  max-width: 400px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.input {
  color: white;
  background-color: darkgray;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.input:hover {
  background-color: gray;
}

.container {
  border-radius: 5px;
  background-color: red;
  padding: 10px 15px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

#nameText,
#emailText,
#messageText,
h4 {
  text-align: justify;
}

.p {
  padding-bottom: 10px;
}

#submitButton{
  margin-top: 30px;
}
