.movieDetails_div{
	padding:40px;
	animation: fadein 1s;
}


@keyframes fadein {
    0% {
        opacity:0;
    }
    30% {
        opacity:0;
	}
	100% {
		opacity:1;
	}
}

.movieDetails_img {
	width: 400px;
	height: 100%;
	text-decoration: none;
	margin-bottom: 10px;
	border-radius: 15px;
	overflow: hidden;
}

.movieDetails_info_div {
	text-align: center;
	padding-right: 20%;
	padding-left: 20%;
	padding-top: 20px;
	font-size: 18px;
	line-height: 25px;
}

.movieDetails_title {
	text-align: center;
	color: black;
	text-decoration: none;
	font-size: 25px;
	margin-bottom: 7px;
	font-weight: bold;
}

.movieDetails_overview {
	color: blue;
	text-decoration: none;
	line-height: 28px;
	font-size: 16px;
}

.readMoreContent{
	line-height: px;
	color: red;
}

.movieDetails_btn {
	margin: 10px;
}

.movieDetails_select {
	position: relative;
	display: block;
	margin: 0 auto;
	width: 400px;
	align-items: center;
	justify-content: center;
}

.movieDetails_select_new {
	position: relative;
	display: block;
	margin: 0 auto;
	margin-top: 2em;
	align-items: center;
	justify-content: center;
	width: 200px;
	padding: 0.5em 0.75em;
	color: #000;
	font-size: 16px;
	box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	cursor: pointer;
	border: 1px solid #eeeeee;
	background-color: #eeeeee;
}

option:checked {
	transition: all .2s ease-in-out;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
	background-color: #000 linear-gradient(0deg, red 0%, red 100%);
}

.movieDetails_btns_div {
	margin-top: 30px;
}

.movieLink_booking {
	margin-left: 15px;
	text-decoration: none;
}

.movieLink_trailer {
	text-decoration: none;
}
