.hero-container {
	background: url('./img_cinema_saal.jpg') center center/cover no-repeat;
	height: 80vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
	object-fit: contain;
	border-top: white 1px solid;
	border-bottom: white 1px solid;
}

.hero-container > h1 {
	color: #fff;
	font-size: 100px;
	font-weight: bold;
	margin-top: -100px;
}

.hero-container > p {
	margin-top: 20px;
	color: #fff;
	font-size: 32px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.landing-btns {
	margin-top: 50px;
}

.landing-btns{
	text-decoration: none;
}

.landing-btns .btn {
	margin: 6px;
}

.landing-link-program:hover {
	text-decoration: none;
}

.landing-link-contact:hover {
	text-decoration: none;
}

.fa-play-circle {
	margin-left: 4px;
}

Button:hover{
	text-decoration: none !important;
}

@media screen and (max-width: 960px) {
	.hero-container > h1 {
		font-size: 70px;
		margin-top: -100px;
	}
}

@media screen and (max-width: 768 px) {
	.hero-container > h1 {
		font-size: 50px;
		margin-top: -100px;
	}

	.hero-container > p {
		font-size: 30px;
	}

	.btn_mobile {
		display: block;
		text-decoration: none;
	}

	.btn {
		width: 100%;
	}
}
