.aboutus_content-text {
    width: 100%;
    height: 20%;
    margin-top: 50px;
    margin-bottom: 50px;
    line-height: 27px;
}

.aboutus_text {
    border-radius: 10px;
    background-color: #c9d2da67;
    margin: 0px auto;
    width: 90%;
	padding: 1.5em;
	max-width: 1000px;
	
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(197, 192, 192, 0.2),0 6px 20px 0 rgba(197, 192, 192, 0.2);
}

.standardParagraph {
	font-weight: bold;
	padding-bottom: 10px;
}

.thirdParagraph {
	font-weight: bold;
	margin-left: 20px;
}

.tenthParagraph {
	margin-left: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.twelfthParagraph {
	text-align: center;
	font-weight: bold;
}

.thirteenthParagraph {
	border: 1px solid #000000;
	max-width: 750px;
	margin: 0 auto;
	margin-top: 5px;
	margin-bottom: 20px;

	padding: 10px;
}
.fourteenthParagraph {
	margin-top: 20px;
	font-weight: bold;
}
.fifteenthParagraph {
	margin: 0 auto;	margin-top: 5px;
	margin-bottom: 20px;
	padding: 10px;
	font-weight: bold;

}
.sixteenthParagraph {
	border: 1px solid #000000;
	max-width: 750px;
	margin: 0 auto;	margin-top: 5px;
	margin-bottom: 20px;
	padding: 10px;
}

.seventeenthParagraph {
	font-weight: bold;
	padding-bottom: 10px;
}
