.view {
    margin-top: 20px;
    color: white;
    width: fit-content;
    block-size: fit-content;
}

.movieField {
    background-color: #282c34;
}

.movieTitle {
    padding-top: 20px;
    padding-bottom: 20px;
}

.overview {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}