.registerForm {
	padding: 2rem 2rem 2rem 2rem;
	flex-grow: 1;
}

.loginForm {
	padding: 2rem 2rem 2rem 2rem;
	flex-grow: 1;
}

#Vorname, #Nachname, #email, #password, #passwordRepeat
{
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

.input {
	color: white;
	background-color: darkgrey;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.input:hover {
	background-color: gray;
}

.container {
	border-radius: 5px;
	border-color: black;
	background-color: #f2f2f2;
	padding: 10px 15px;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

#nameText,
#passwordText,
#passwordRepeatText,
.emailField,
.passwordField,
.passwordRepeatField,
.names,
h4 {
	text-align: justify;
	width: 500px;
}

.p {
	padding-bottom: 10px;
}
